<!DOCTYPE HTML>
<html ng-app>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/studio.css"/>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/angular.js"></script>
    <script src="/static/js/mr/studio.js"></script>
    <title>Studio</title>
    </head>
    <body ng-controller="Studio">
        <div 
            class="led" 
            ng-repeat="led in leds"
            ng-class="led.class"
        ></div>
        <div 
            class="circle"
            ng-repeat="circle in circles"
            ng-class="circle.class"
        ></div>
    </body>

</html>

