/* line 17, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
@-moz-keyframes rotate {
    0% {
    width: $end_width; 
    height: $end_height;
    border-color: #FFFFFF;
    margin-top:20px;
    }
    75% {
    width: $end_width+100; 
    height: $end_height;
    border-color: #9999FF;
    margin-top:20px;
    }
    100% {
    width: $end_width; 
    height: $end_height;
    border-color: #9999FF;
    margin-top:20px;
    }
}
*/
/* line 17, ../sass/studio.scss */
body {
  background-color: #000000;
}

@keyframes rotate {
  /* line 23, ../sass/studio.scss */
  0% {
    width: 200px;
    height: 35px;
    border-color: #FFFFFF;
    margin-top: 20px;
  }

  /* line 29, ../sass/studio.scss */
  75% {
    width: 300px;
    height: 35px;
    border-color: #9999FF;
    margin-top: 20px;
  }

  /* line 35, ../sass/studio.scss */
  100% {
    width: 200px;
    height: 35px;
    border-color: #9999FF;
    margin-top: 20px;
  }
}

@-moz-keyframes rotate {
  /* line 23, ../sass/studio.scss */
  0% {
    width: 200px;
    height: 35px;
    border-color: #FFFFFF;
    margin-top: 20px;
  }

  /* line 29, ../sass/studio.scss */
  75% {
    width: 300px;
    height: 35px;
    border-color: #9999FF;
    margin-top: 20px;
  }

  /* line 35, ../sass/studio.scss */
  100% {
    width: 200px;
    height: 35px;
    border-color: #9999FF;
    margin-top: 20px;
  }
}

@-webkit-keyframes rotate {
  /* line 23, ../sass/studio.scss */
  0% {
    width: 200px;
    height: 35px;
    border-color: #FFFFFF;
    margin-top: 20px;
  }

  /* line 29, ../sass/studio.scss */
  75% {
    width: 300px;
    height: 35px;
    border-color: #9999FF;
    margin-top: 20px;
  }

  /* line 35, ../sass/studio.scss */
  100% {
    width: 200px;
    height: 35px;
    border-color: #9999FF;
    margin-top: 20px;
  }
}

/* line 43, ../sass/studio.scss */
.circle {
  position: relative;
  top: 20px;
  left: 50%;
  margin-left: -105px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  border: 10px solid white;
  perspective: 1000;
  -webkit-animation: rotate 0.5s;
  -moz-animation: rotate 0.5s;
  -ms-animation: rotate 0.5s;
  -o-animation: rotate 0.5s;
  animation: rotate 0.5s;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 60, ../sass/studio.scss */
.del1 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

/* line 60, ../sass/studio.scss */
.del2 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

/* line 60, ../sass/studio.scss */
.del3 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

/* line 60, ../sass/studio.scss */
.del4 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

/* line 60, ../sass/studio.scss */
.del5 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
