/* line 17, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 25, ../sass/studio.scss */
body {
  background-color: #000000;
}

@keyframes rotate {
  /* line 31, ../sass/studio.scss */
  0% {
    width: 200px;
    height: 35px;
    border-color: #FFFFFF;
    margin-top: 20px;
  }

  /* line 37, ../sass/studio.scss */
  75% {
    width: 300px;
    height: 35px;
    border-color: #9999FF;
    margin-top: 20px;
  }

  /* line 43, ../sass/studio.scss */
  100% {
    width: 200px;
    height: 35px;
    border-color: #9999FF;
    margin-top: 20px;
  }
}

@-moz-keyframes rotate {
  /* line 31, ../sass/studio.scss */
  0% {
    width: 200px;
    height: 35px;
    border-color: #FFFFFF;
    margin-top: 20px;
  }

  /* line 37, ../sass/studio.scss */
  75% {
    width: 300px;
    height: 35px;
    border-color: #9999FF;
    margin-top: 20px;
  }

  /* line 43, ../sass/studio.scss */
  100% {
    width: 200px;
    height: 35px;
    border-color: #9999FF;
    margin-top: 20px;
  }
}

@-webkit-keyframes rotate {
  /* line 31, ../sass/studio.scss */
  0% {
    width: 200px;
    height: 35px;
    border-color: #FFFFFF;
    margin-top: 20px;
  }

  /* line 37, ../sass/studio.scss */
  75% {
    width: 300px;
    height: 35px;
    border-color: #9999FF;
    margin-top: 20px;
  }

  /* line 43, ../sass/studio.scss */
  100% {
    width: 200px;
    height: 35px;
    border-color: #9999FF;
    margin-top: 20px;
  }
}

@keyframes fade_yellow {
  /* line 52, ../sass/studio.scss */
  from {
    background-color: yellow;
  }

  /* line 55, ../sass/studio.scss */
  to {
    background-color: black;
  }
}

@-moz-keyframes fade_yellow {
  /* line 52, ../sass/studio.scss */
  from {
    background-color: yellow;
  }

  /* line 55, ../sass/studio.scss */
  to {
    background-color: black;
  }
}

@-webkit-keyframes fade_yellow {
  /* line 52, ../sass/studio.scss */
  from {
    background-color: yellow;
  }

  /* line 55, ../sass/studio.scss */
  to {
    background-color: black;
  }
}

/* line 60, ../sass/studio.scss */
.circle {
  position: relative;
  top: 20px;
  left: 50%;
  margin-left: -105px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  border: 10px solid white;
  perspective: 1000;
  -webkit-animation: rotate 0.5s;
  -moz-animation: rotate 0.5s;
  -ms-animation: rotate 0.5s;
  -o-animation: rotate 0.5s;
  animation: rotate 0.5s;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 73, ../sass/studio.scss */
.led {
  width: 20px;
  height: 10px;
  left: 50%;
  margin-left: -200px;
  position: absolute;
  -webkit-animation: fade_yellow 1s;
  -moz-animation: fade_yellow 1s;
  -ms-animation: fade_yellow 1s;
  -o-animation: fade_yellow 1s;
  animation: fade_yellow 1s;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  margin-top: 5px;
}

/* line 88, ../sass/studio.scss */
.del1 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

/* line 88, ../sass/studio.scss */
.del2 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

/* line 88, ../sass/studio.scss */
.del3 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

/* line 88, ../sass/studio.scss */
.del4 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

/* line 88, ../sass/studio.scss */
.del5 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

/* line 97, ../sass/studio.scss */
.led0 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  top: 50px;
}

/* line 97, ../sass/studio.scss */
.led1 {
  -webkit-animation-delay: 0.05s;
  -moz-animation-delay: 0.05s;
  -ms-animation-delay: 0.05s;
  -o-animation-delay: 0.05s;
  animation-delay: 0.05s;
  top: 70px;
}

/* line 97, ../sass/studio.scss */
.led2 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
  top: 90px;
}

/* line 97, ../sass/studio.scss */
.led3 {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  -ms-animation-delay: 0.15s;
  -o-animation-delay: 0.15s;
  animation-delay: 0.15s;
  top: 110px;
}

/* line 97, ../sass/studio.scss */
.led4 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  top: 130px;
}

/* line 97, ../sass/studio.scss */
.led5 {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  animation-delay: 0.25s;
  top: 150px;
}

/* line 97, ../sass/studio.scss */
.led6 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  top: 170px;
}

/* line 97, ../sass/studio.scss */
.led7 {
  -webkit-animation-delay: 0.35s;
  -moz-animation-delay: 0.35s;
  -ms-animation-delay: 0.35s;
  -o-animation-delay: 0.35s;
  animation-delay: 0.35s;
  top: 190px;
}

/* line 97, ../sass/studio.scss */
.led8 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
  top: 210px;
}

/* line 97, ../sass/studio.scss */
.led9 {
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  animation-delay: 0.45s;
  top: 230px;
}

/* line 97, ../sass/studio.scss */
.led10 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
  top: 250px;
}

/* line 97, ../sass/studio.scss */
.led11 {
  -webkit-animation-delay: 0.55s;
  -moz-animation-delay: 0.55s;
  -ms-animation-delay: 0.55s;
  -o-animation-delay: 0.55s;
  animation-delay: 0.55s;
  top: 270px;
}

/* line 97, ../sass/studio.scss */
.led12 {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
  top: 290px;
}

/* line 97, ../sass/studio.scss */
.led13 {
  -webkit-animation-delay: 0.65s;
  -moz-animation-delay: 0.65s;
  -ms-animation-delay: 0.65s;
  -o-animation-delay: 0.65s;
  animation-delay: 0.65s;
  top: 310px;
}

/* line 97, ../sass/studio.scss */
.led14 {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
  top: 330px;
}

/* line 97, ../sass/studio.scss */
.led15 {
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  animation-delay: 0.75s;
  top: 350px;
}

/* line 97, ../sass/studio.scss */
.led16 {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s;
  top: 370px;
}

/* line 97, ../sass/studio.scss */
.led17 {
  -webkit-animation-delay: 0.85s;
  -moz-animation-delay: 0.85s;
  -ms-animation-delay: 0.85s;
  -o-animation-delay: 0.85s;
  animation-delay: 0.85s;
  top: 390px;
}

/* line 97, ../sass/studio.scss */
.led18 {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-delay: 0.9s;
  top: 410px;
}

/* line 97, ../sass/studio.scss */
.led19 {
  -webkit-animation-delay: 0.95s;
  -moz-animation-delay: 0.95s;
  -ms-animation-delay: 0.95s;
  -o-animation-delay: 0.95s;
  animation-delay: 0.95s;
  top: 430px;
}

/* line 97, ../sass/studio.scss */
.led20 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
  top: 450px;
}
