@import "compass/reset";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "mixin/keyframes";
$led_start:50px;
$start_width: 5px;
$end_width : 200px;
$start_height: 5px;
$end_height: 35px;
$circle_width : 200px;
$circle_height : 200px;
$circle_radius : 300px;
$circle_border_color : #FFFFFF;
$circle_border_width : 10px;
$animation_dur : .5s;
$yellow_animation_dur : 1s;

$led_width : 20px;
$led_height : 10px;

$yellow : yellow;
$black : black;

body {
    background-color:#000000;
}
 

@include keyframes('rotate')  { 
    0% {
        width: $end_width; 
        height: $end_height;
        border-color: #FFFFFF;
        margin-top:20px;
    }
    75% {
        width: $end_width+100; 
        height: $end_height;
        border-color: #9999FF;
        margin-top:20px;
    }
    100% {
        width: $end_width; 
        height: $end_height;
        border-color: #9999FF;
        margin-top:20px;
    }
}

@include keyframes('fade_yellow') {
    from { 
        background-color: $yellow;
    }
    to {
        background-color: $black;
    }
}

.circle {
    position:relative;
    top:20px;
    left:50%;
    margin-left:-($circle_width+$circle_border_width)/2;
    @include border-radius( $circle_radius );
    border: $circle_border_width solid $circle_border_color;
    perspective:1000;
    @include animation(  rotate $animation_dur );
    @include animation-direction( alternate );
    @include animation-iteration-count ( infinite );
}

.led {
    width: $led_width;
    height: $led_height;
    left: 50%;
    margin-left: -200px;
    position:absolute;
    @include animation( fade_yellow $yellow_animation_dur );
    @include animation-direction( alternate );
    @include animation-iteration-count ( infinite );
    margin-top: 5px;
}
$counter: 1;
$numdels: 5;

@for $i from 1 through $numdels {
    .del#{$i} {
        @include animation-delay( $animation_dur/$numdels * $i );
    }
}

$numleds : 20;
$counter : 1;

@for $i from 0 through $numleds {
    .led#{$i} {
        @include animation-delay( $yellow_animation_dur/$numleds * $i );
        top: $led_start + ( $led_height * ( $i  ) * 2 );
    }
}
